.mainDiv div{
    display: inline-block;
    height: 30px;
    width: 80px;
    background-color: #fa0100;
    color: white;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    font-size: large;
    border: 2px black solid;
}
.mainDiv div:nth-child(even){
display: none;
}
